<nav>
  <div class="header-container">
    <div class="upper-header">
      <button class="title-—-16pt cart" routerLink="/cart">
        <img src="/assets/shared/header/cart.svg">
        سلة
        التسوق</button>
      <button class="account">
        <img src="/assets/shared/header/person.svg">
      </button>
      <label class="h-search-wrapper">
        <input type="text" class="h-search-input"
          placeholder="عم تبحث؟">
        <img src="/assets/shared/header/search.svg">
      </label>
      <img src="/assets/shared/header/logo.svg">
    </div>
    <div class="lower-header">
      <ul>
        <li class="title-—-16pt">
          <img src="/assets/shared/header/down-arrow.svg">
          الأقسام
        </li>
        <li class="title-—-16pt">الرئيسية</li>
        <li class="title-—-16pt">قائمة الأمنيات</li>
        <li class="title-—-16pt">تواصل معنا</li>
        <li class="title-—-16pt">من نحن</li>
      </ul>
    </div>
  </div>
</nav>